Source: gar
Maintainer: Suvarchal K. Cheedela <suvarchal.kumar@gmail.com>
Section: python
Priority: optional
Build-Depends: 
 debhelper (>= 11~), 
 dh-python,
 python3, 
 python3-setuptools,
 python3-pytest,
Standards-Version: 4.3.0

Package: python3-gar
X-Python3-Version: >= 3.6
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-click
Description: Group archiving tool
